[Unit]
Description=Run CSA BorgBackup every five minutes

[Timer]
OnBootSec=2min
OnUnitInactiveSec=5min
AccuracySec=15s
Unit=csa-borg-backup.service

[Install]
WantedBy=timers.target
